body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color: black;
    width: 700px !important;
    height: 700px !important;
    padding: 0 !important;
    display: flex;
    flex-wrap: wrap
}
.box {
    background-color: white;
    padding: 0;
    border: 2px solid black;
}