body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 255, 230)      
}

.content {
    background-image: url("../img/9208490.jpg");/*<a href="https://www.freepik.com/free-vector/art-supplies-background_49550391.htm#fromView=search&page=1&position=6&uuid=c9e78bc1-f363-42ce-aa9a-c58928d2722b">Image by freepik</a>*/
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.header {
    height: 200px;
    width: 100%;
    padding: 30px;
}

.game-core {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 70px;
    padding-bottom: 50px;
    background-color: rgb(255, 255, 230);
    width: 1000px;   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container {
    background-color: black;
    width: 700px !important;
    height: 700px !important;
    padding: 0 !important;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.box {

    padding: 0;
    border: 2px solid black;
}

.dynamic,
.fixed{
    display: flex;
    justify-content: center;
    align-items: center;
}

#rainbowColor {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    color: rgb(255, 255, 255);
  }

#darkColor {
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(63, 63, 63), rgb(152, 152, 152), rgb(187, 187, 187));
    border : 1px solid white;
  }
  

#pick{
        width: 100px; 
        height: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}
.grid,
.input{
    display: flex;
    justify-content: center;
    align-items: center;

}

.resetAndErase{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    padding: 20px;
    margin: 10px;
  }
.setting{
    width: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    padding: 20px;
    margin: 10px;
  }
button,
#gridSizeInput {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.brush {
    cursor: url('../img/format_paint_FILL0_wght400_GRAD0_opsz24.png'), auto;
}
.eraser {
    cursor: url('../img/ink_eraser_FILL0_wght400_GRAD0_opsz24.svg'), auto;
}

.footer {
    width: 100%;
    padding: 15px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
}

@media (max-width: 575px) {
    .content {
        height: auto;
    }
    h1 {
        font-size: 2rem;
        font-weight: 700;
    }
    .header {
        padding: 15px;
    }
    .game-core{
        width: 100%;
        padding: 30px;;
    }   
    .footer {
        flex-direction: column;
    }
    .container{
        width: 300px !important;
        height: 300px !important;
        padding: 0 !important;
    }

    .setting,
    .resetAndErase {
        width: 100%;
    }

}